@font-face {
    font-family: silkscreen-reg;
    src: url(./fonts/SilkScreen/Silkscreen-Regular.ttf);
}

@font-face {
    font-family: Rubik-Ivrit;
    src: url(./fonts/Rubik-Marker/RubikMarkerHatch-Regular.ttf);
}